<% provide(:title, "Log in") %>
<h1>Gros Log in ici !</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <p>Email :</p> 
      <%= f.email_field :email, class: 'form-control' %>

      <p>Mot de passe :</p>
      <%= f.password_field :password, class: 'form-control' %>
	<br>
      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
	<br>
    <p>Nouvel utilisateur ? <%= link_to "Inscrit toi vite !", new_user_path %></p>
  </div>
</div>