<h1>Edite ton Utilisateur ici !</h1>

<%= form_for @user, url: {action: "update"}, html: {class: "nifty_form"} do |f| %>
  <%= label_tag 'Email :' %>
  <%= f.email_field :email %>
  <%= f.submit "Editer" %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this user from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<% end %>

</br>
<%= link_to "Tu veux me supprimer ? :'(", user_path(@user),
              method: :delete,
              data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %> 

<%= link_to "Go index", users_index_path, class: "btn btn-info" %>
